body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-size: 100%;
	background-image: url(https://img.freepik.com/free-photo/marble-light-beige-stone-texture-light-wall-background_119828-1349.jpg);
}

.container_lose_black {
	display: flex;
	width: 150px;
	height: 500px;
	background-color: rgb(96, 252, 96);
}

.container_lose_white {
	display: flex;
	width: 150px;
	height: 500px;
	background-color: rgb(96, 252, 96);
}

.container_chess {
	display: flex;
	flex-direction: column;
	height: 600px;
	width: 600px;
	border: 1px solid rgb(32, 32, 32);
	box-shadow: 0px 0px 19px 5px #000000;
}

.container_row {
	display: flex;
	height: 100px;
	width: 100%;
}

.container_row:nth-child(2n) .block_container:nth-child(2n+1) {
	background-size: 100%;
	background-image: url(https://txtrs.ru/textures/wood/wood-8.jpg);
}


.container_row:nth-child(2n+1) .block_container:nth-child(2n) {
	background-size: 100%;
	background-image: url(https://txtrs.ru/textures/wood/wood-8.jpg);
}

.block_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100px;
	background-size: 100%;
	background-image: url(https://junior3d.ru/texture/%D0%94%D0%B5%D1%80%D0%B5%D0%B2%D0%BE/%D0%9D%D0%BE%D0%B2%D0%BE%D0%B5%D0%94%D0%B5%D1%80%D0%B5%D0%B2%D0%BE/%D0%BD%D0%BE%D0%B2%D0%BE%D0%B5-%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%BE_6.jpg);
}

.block_container_red {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100px;
	background-color: rgb(153, 51, 51);
}


.handlerForRadius {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.radius {
	height: 30px;
	width: 30px;
	background-color: rgba(0, 217, 255, 0.644);
	border-radius: 50%;
}

.chess_black_img {
	display: flex;
	width: 80%;
	max-height: 80%;
}

.chess_white_img {
	display: flex;
	-webkit-filter: invert(1);
	filter: invert(1);
	width: 80%;
	max-height: 80%;
}

.container_turn {
	display: flex;
	background-color: rgb(179, 179, 179);
	height: 100px;
	width: 200px;
	margin-right: 100px;
	position: absolute;
	top: 30px;
	left: 150px;
	border: 2px solid gray;
	border-radius: 10px;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

span {
	color: rgb(53, 53, 53);
	font-size: 30px;
}

.white_turn {
	background-color: rgb(255, 255, 255);
	height: 50px;
	width: 50px;
}

.black_turn {
	background-color: rgb(0, 0, 0);
	height: 50px;
	width: 50px;
}

.pawn_finish_change {
	background-color: rgb(172, 49, 255);
	height: 300px;
	width: 500px;
}